* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

img {
  height: 100%;
  width: 100%;
}

body {
  width: 90vw;
  margin: 0 auto;
  max-width: 760px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;

  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.user {
  margin: 48px auto 16px;
  display: grid;
  justify-content: center;
}

.user img {
  width: 140px;
  height: auto;
  border-radius: 16px;
  justify-self: center;
}

.user__name {
  font-size: 24px;
  color: #4e5150;
  margin: 16px 0 4px;
  justify-self: center;
}

.user__location {
  font-size: 14px;
  color: #a9a9a9;
  text-align: center;
}

.user__stats {
  margin-top: 24px;
  display: flex;
  text-align: center;
  border-radius: 12px;
}

.user__stats div + div {
  margin-left: 24px;
}

.user__posts {
  background: #e5e5e5;
  border-radius: 12px;
  padding: 8px;
  width: 100px;
}

.user__number {
  font-size: 18px;
  color: #4e5150;
  margin-bottom: 4px;
}

.user__title {
  font-size: 14px;
  color: #bdbdbd;
}

.gallery__container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  margin: 32px auto;
}

.gallery__container div {
  overflow: hidden;
}

.gallery__container img {
  object-fit: cover;
  border-radius: 16px;
}

.image__one {
  grid-row: span 1;
  grid-column: span 2;
}

.image__two {
  grid-row: span 1;
  grid-column: span 4;
}

.image__three {
  grid-row: span 1;
  grid-column: span 4;
}

.image__four {
  grid-row: span 2;
  grid-column: span 2;
}

.image__five {
  grid-row: span 1;
  grid-column: span 2;
}

.image__six {
  grid-row: span 1;
  grid-column: span 2;
}

footer {
  color: #a9a9a9;
  font-size: 14px;
  text-align: center;
  padding: 32px 16px;
}

@media only screen and (max-width: 425px) {
  .user {
    margin-top: 32px;
  }

  .user img {
    width: 100px;
  }

  .user__name {
    font-size: 14px;
  }

  .user__location,
  .user__number,
  .user__title {
    font-size: 12px;
  }

  .user__stats {
    margin: 24px 0 0;
  }

  .user__posts {
    width: 78px;
  }

  .gallery__container {
    margin: 16px auto;
    gap: 10px;
  }
}
